<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huatu.handheld_huatu">
    <!-- Required -->
    <permission
        android:name="com.huatu.handheld_huatu.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.huatu.handheld_huatu.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-permission
        android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:name=".UniApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/DayTheme"
        tools:replace="android:allowBackup,android:label">
        <activity
            android:name=".business.arena.activity.ExportArenaErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.essay.activity.HomeworkSingleListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.essay.camera.CropImgActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.common.PictureViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/AppThemeTrans" />
        <activity
            android:name=".business.faceteach.SplitOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="behind" />
        <!--
      <activity
            android:name=".business.common.pictureview.PictureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="behind" />
        -->
        <activity
            android:name=".business.faceteach.FillInformationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" /> <!-- region 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- endregion -->
        <activity
            android:name=".business.faceteach.FacePayWayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.faceteach.ConfirmOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.faceteach.FaceTeachDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.TeacherPreviewPaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.matchsmall.activity.StageReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.matchsmall.activity.SmallMatchReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.matchsmall.activity.SmallMatchClassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.matchsmall.activity.SmallReportListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.matchsmall.activity.SmallMatchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ArenaExamReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ArenaExamReportExActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.matches.activity.ScReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.matches.activity.SimulationContestActivityNew"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ArenaExamAnswerCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ArenaExamActivityNew"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ArenaExamActivityPad"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.EvaluateReportForUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.EvaluateReportActivityNew"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.guide.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="zhuantiku"
                    android:pathPrefix="/openwith"
                    android:scheme="ztkschemes" />
            </intent-filter>
        </activity> <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.huatu.handheld_huatu.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>

        <activity
            android:name=".business.main.MainTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="course"
                    android:scheme="ztk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.main.ArticleDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".base.MyReuseSupportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/ReuseDayTheme" />
        <activity
            android:name=".base.ReuseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/ReuseDayTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".business.other.CourseCalendarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".business.other.TestwebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".business.me.RedPacketWithdrawalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/ReuseDayTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".business.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.essay.EssayExamActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".business.essay.camera.TakePhotoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/title_activity_take_phote"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".business.essay.camera.ShowCropperedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_show_croppered"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.guide.GuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.login.LoginByPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="com.huatu.handheld_huatu.Loginshow" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.common.LargeImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.LargeImage.NoActionBar" />
        <activity
            android:name=".business.login.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.login.ConfirmCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.login.PasswordResetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.register.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.register.ConfirmCodeForRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.register.CompleteUserInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.account.MyAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.account.BalanceDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.account.RechargeNowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.order.OrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.order.LogisticDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.order.OrderDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.EssayOrderDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".business.me.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.ActionCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.ActionDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="com.huatu.handheld_huatu.webviewAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.me.CollectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.ErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.ExamTargetAreaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.AccountInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.AccountSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.ChangeNicknameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.ChangePhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.BindPhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.MyScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.VideoCloudDirectoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.RecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.DailySpecialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.DailySpecialSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ArenaExamAreaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ExamPaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.SimulationExamActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.message.MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.message.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.AdvertiseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" /> <!-- 课程中心 -->
        <activity
            android:name=".business.ztk_zhibo.play.BuyDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.play.fragment.BaseIntroActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind">

            <!-- 智齿跳过来 -->
            <intent-filter>
                <action android:name="com.huatu.handheld_huatu.productshow" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="product" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CustomAddGroupDialog"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/CustomBottomDialog" />
        <activity
            android:name=".business.play.fragment.BaseFrgPreContainerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.play.fragment.TecherCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.play.fragment.CourseSaleTeacherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.play.fragment.CourseTeacherDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />
        <activity
            android:name=".base.BaseFrgContainerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".base.GiftWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".base.BaseArenaCorrectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".business.ztk_zhibo.play.CourseJudgeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/MyDialogActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="com.huatu.handheld_huatu.coursejudgeshow" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.ztk_zhibo.play.LiveVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="behind"
            android:theme="@style/DayTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.ztk_zhibo.play.LiveVideoForLiveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/LiveVideoThemo"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- <activity -->
        <!-- android:name="com.baijiahulian.live.ui.activity.LiveRoomActivity" -->
        <!-- android:configChanges="orientation|screenSize|layoutDirection" -->
        <!-- android:hardwareAccelerated="false" -->
        <!-- android:theme="@style/LiveAppTheme" /> -->
        <activity
            android:name=".business.ztk_zhibo.cache.DownLoadListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/ReuseDayTheme" />
        <activity
            android:name=".business.ztk_zhibo.play.DissLessionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <!--
 <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".business.arena.activity.ArenaRestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" /> <!-- 在AndroidManifest.xml中增加内核首次加载时优化Service声明；    该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束。 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
        <service
            android:name=".tinker.TinkerResultService"
            android:exported="false" />
        <service
            android:name=".tinker.SampleResultService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".receiver.ConnectionBroadcastReceiver">
            <intent-filter>

                <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
                <action android:name="com.huatu.start_download_course" />
            </intent-filter>
        </receiver>
        <!--
       <receiver android:name=".business.ztk_zhibo.play.BlueToothMediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".TokenConflictActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/MyDialogLightActivityTheme" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54645278fd98c565730006bc" /> <!-- htbeta0020 for beta version; ht00000020 for sencha -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="ht00000020" /> -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="cfdcc7d92f50c960b0fd19321d5a997e" />

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:configChanges="keyboardHidden|orientation|screenSize" android:screenOrientation="behind">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1103583915" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".business.lessons.CourseSuitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_zhibo.play.HandoutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.activity.TeacherDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.activity.TeacherListDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.activity.LessionEvaluateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.activity.TeacherEvaluateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.activity.VodCourseSerachActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.activity.CourseEvaluateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.BJRecordPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/ReuseDayTheme" />
        <activity
            android:name=".business.ztk_vod.BjPadCachePlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/ReuseDayTheme" />
        <activity
            android:name=".business.other.OnLiveSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/ReuseDayTheme" />
        <activity
            android:name=".business.ztk_vod.highmianshou.HighMianShouActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.ztk_vod.highmianshou.HuaTuXieYiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.play.fragment.JudgeCourseListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />

        <receiver
            android:name=".receiver.SendReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="pw.msdx.ACTION_SEND" />
            </intent-filter>
        </receiver> <!-- PlaybackDownloader   会初始化服务 -->
        <service
            android:name="com.baijiayun.download.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".helper.BaijDownloadService"
            android:enabled="true"
            android:exported="false" />
        <!--
    ATTENTION: This was auto-generated to add Google Play services to your project for
    -     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!--
                <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />
        -->
        <!-- 百度移动统计start -->
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="434073f73b" /> <!-- 请替换成自己的appKey -->
        <!-- &lt;!&ndash; 渠道商编号 &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BaiduMobAd_CHANNEL" -->
        <!-- android:value="${BAIDU_CHANNEL_VALUE}" /> -->
        <!-- 是否开启错误日志统计，默认为false -->
        <!-- 有tingyun -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="false" /> <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" /> <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" /> <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" /> <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" /> <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" /> <!-- 百度移动统计end -->
        <activity
            android:name=".business.me.RedPacketsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.me.RedPacketDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.DownloadArenaPaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ArenaAnswerCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" /> <!-- 课后作业 -->
        <activity
            android:name=".business.ztk_vod.activity.HomeworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" /> <!-- 阶段考试 -->
        <activity
            android:name=".business.ztk_vod.activity.SectionalExaminationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" />
        <activity
            android:name=".business.arena.activity.ManualCheckReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <!--
<meta-data
            android:name="com.zhy.http.okhttp.OkHttpGlideModule"
            android:value="GlideModule" />
        -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" /> <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.huatu.handheld_huatu" />
            </intent-filter>
        </activity> <!-- Required SDK 核心功能 -->
        <service android:name=".business.ztk_zhibo.play.LiveVideoNotificationService" /> <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.huatu.handheld_huatu.DataProvider"
            android:exported="false"
            android:process=":pushcore" /> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.huatu.handheld_huatu" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.huatu.handheld_huatu.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.huatu.handheld_huatu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.huatu.handheld_huatu" />
            </intent-filter>
        </receiver> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.huatu.handheld_huatu" />
            </intent-filter>
        </receiver> <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="e7ef1b9ac6f10939129698c0" /> <!-- </>值来自开发者平台取得的AppKey -->
        <!-- 高德定位 -->
        <service android:name="com.amap.api.location.APSService" /> <!-- 启动一个前台服务 -->
        <service android:name=".helper.LocationForegoundService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c87d83f893764edaa8b4b99894f48759" />

        <activity
            android:name="com.huatu.message.MipushActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeTrans" />

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="100307603" /> <!-- vivo start -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="31c68f1f-badb-4ba7-8a8d-76c0ffc154b4" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="14007" />
    </application>

</manifest>